[submodule "rails-backend"]
	path = rails-backend
	url = https://github.com/simoncozens/connector-backend.git
	branch = master
[submodule "angular-web"]
	path = angular-web
	url = https://github.com/simoncozens/connector-frontend.git
	branch = master
