<div class="person row" *ngIf="person">
  <div class="col-xs-3"><img [src]="sanitize(person.picture)"/></div>
  <div class="col-xs-6">
    <h3>{{person?.name}}</h3>
    <a *ngIf="person.email" href="mailto:{{person?.email}}" class="btn-lg">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </a>
    <div class="strut"></div>
      <span class="role label label-info" *ngFor="let role of person?.roles">{{role}}</span>
    <div class="strut"></div>
      <a [routerLink]="['/messages/with',person.id]" class="btn btn-primary">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Message</a>
    <span *ngIf="person.followed">
      <button type="button" (click)="unfollow()" class="btn btn-primary">Following</button>
    </span>
    <span *ngIf="!person.followed">
      <button type="button" (click)="follow()" class="btn btn-default">Follow</button>
    </span>

  </div>

<div class="person row">
  <div class="col-xs-2 text-muted"> Preferred Method of Contact </div>
  <div class="col-xs-9"> {{person?.preferred_contact}} </div>
</div>

<div class="person row">
  <div class="col-xs-2 text-muted"> Introductory Bio </div>
  <div class="col-xs-9"> {{person?.intro_bio}} </div>
</div>

<div class="person row">
  <div class="col-xs-2 text-muted"> Experience </div>
  <div class="col-xs-9">
    <span  *ngFor="let e of person?.experience; let last = last">
      <a [routerLink]="['/people', {'experience':e}]">{{e}}</a><span *ngIf="!last">, </span>
    </span>
  </div>
</div>

<div class="person row">
  <div class="col-xs-2 text-muted"> Regions </div>
  <div class="col-xs-9"> 
    <span  *ngFor="let r of person?.regions; let last = last">
      <a [routerLink]="['/people', {'regions':r}]">{{r}}</a><span *ngIf="!last">, </span>
    </span>
  </div>
</div>

<div *ngFor="let affiliation of person?.affiliations; let i = index" class="person">
  <div class="row">
    <div class="col-xs-2 text-muted">
        <span *ngIf="i==0">Primary</span>
        <span *ngIf="i!=0">Other</span>
        Organisation
    </div>
    <div class="col-xs-9"> {{affiliation.organisation}} </div>
  </div>
  <div class="row">
    <div class="col-xs-2 text-muted">
        <span *ngIf="i==0">Primary</span>
        <span *ngIf="i!=0">Other</span>
        Position
    </div>
    <div class="col-xs-9"> {{affiliation.position}} </div>
  </div>
  <div class="row">
    <div class="col-xs-2 text-muted"> Organisation Website </div>
    <div class="col-xs-9"> {{affiliation.website}} </div>
  </div>
</div>

  <div class="person row">
    <div class="col-xs-2 text-muted"> My notes </div>
    <div class="col-xs-9">
      <textarea [(ngModel)]='annotation' (keydown.enter)="saveAnnotation();false"></textarea>
    </div>
  </div>
</div>

