<div class="personcontainer"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()">
<div *ngIf="result">
<div class="person row" *ngFor="let person of result?.entries">
  <div class="col-xs-2"><img [src]="sanitize(person.picture)"/></div>
  <div class="col-xs-5">
        <span *ngIf="person.followed">
          <span (click)="unfollow()" class="pull-right glyphicon glyphicon-star" label="Unfollow"></span>
      </span>
      <span *ngIf="!person.followed">
        <span (click)="follow()" class="pull-right glyphicon glyphicon-star-empty" label="Follow"></span>
      </span>
    <h3><a [routerLink]="['/person',person.id]">{{person.name}}</a></h3>

      <span class="role label label-info" *ngFor="let role of person.roles">{{role}}</span>
    <div *ngIf="person.affiliations && person.affiliations[0]">
      {{person.country}} <br/>
      Position: {{person.affiliations[0].position}} <br/>
      Organization: {{person.affiliations[0].organisation}} <br/>
    </div>
        <div class="strut"></div>
  </div>
</div>
</div>
</div>