<div class="person row" *ngIf="person">
  <div class="col-xs-2"><img src="http://via.placeholder.com/150x150"/></div>
  <div class="col-xs-9">
    <h3>{{person?.name}}</h3>
    <a *ngIf="person.email" href="mailto:{{person?.email}}" class="btn-lg">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </a>
    <div class="strut"></div>
      <span class="role label label-info" *ngFor="let role of person?.roles">{{role}}</span>
  </div>
</div>

<form class="form-horizontal" [formGroup]="editProfileForm" (ngSubmit)="submitForm(editProfileForm.value)">
  <div class="form-group">
    <label class="col-sm-2 control-label">Preferred Method of Contact</label>
    <div class="col-sm-10">
      <select multiple class="form-control" [formControl]="editProfileForm.controls['preferred_contact']">
        <option>Email</option>
        <option>SMS</option>
        <option>Phone (Voice)</option>
        <option>Skype</option>
        <option>Facebook</option>
        <option>LinkedIn</option>
        <option>Other</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
</form>
