<pagination-controls (pageChange)="page = $event"></pagination-controls>

<div class="person row" *ngFor="let person of people | paginate: { itemsPerPage: 10, currentPage: page }">
  <div class="col-xs-2"><img src="http://via.placeholder.com/150x150"/></div>
  <div class="col-xs-9">
    <h3>{{person.name}}</h3>
      <span class="role label label-info" *ngFor="let role of person.roles">{{role}}</span>

    <div *ngIf="person.affiliations && person.affiliations[0]">
      Position: {{person.affiliations[0].position}} <br/>
      Organization: {{person.affiliations[0].organisation}} <br/>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>